@import 'bootstrap/dist/css/bootstrap';

@media (min-width: 768px) {
    .h-md-200 { height: 60vh; }

}
.btn-round { border-radius: 30px; }
.bg-indigo { background: indigo; }
.text-cyan { color: #35bdff; }

